In [1]:
from pyathena import connect
import pandas as pd

In [9]:
conn =connect(work_group='primary',
              s3_staging_dir='s3://athenaresultdthat')

In [10]:
pd.read_sql('select * from ghact.parquets limit 10',conn)

/home/admin123/AWS-Lambda/ga-venv/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,id,type,actor,repo,public,created_at,org,year,month,dayofmonth
0,31549506607,PushEvent,{avatar_url=https://avatars.githubusercontent....,"{id=684784488, name=juvyannl/juvyannl.github.i...",True,2023-09-02 00:04:47,None,2023,09,02
1,31549506612,DeleteEvent,{avatar_url=https://avatars.githubusercontent....,"{id=658230557, name=Soontao/scheduler, url=htt...",True,2023-09-02 00:04:47,None,2023,09,02
2,31549506631,PushEvent,{avatar_url=https://avatars.githubusercontent....,"{id=494617035, name=algotables/algotables.gith...",True,2023-09-02 00:04:47,None,2023,09,02
3,31549506657,PushEvent,{avatar_url=https://avatars.githubusercontent....,"{id=628716587, name=sbilic9/python.ferit, url=...",True,2023-09-02 00:04:47,None,2023,09,02
4,31549506658,PushEvent,{avatar_url=https://avatars.githubusercontent....,"{id=686144259, name=Bouriszineb1/alx-zero_day,...",True,2023-09-02 00:04:47,None,2023,09,02
5,31549506659,PushEvent,{avatar_url=https://avatars.githubusercontent....,"{id=433391189, name=TobiasAndre/TobiasAndre, u...",True,2023-09-02 00:04:47,None,2023,09,02
6,31549506638,PushEvent,{avatar_url=https://avatars.githubusercontent....,"{id=684364836, name=AdalbertPayan/sql-challeng...",True,2023-09-02 00:04:47,None,2023,09,02
7,31549506644,PushEvent,{avatar_url=https://avatars.githubusercontent....,"{id=277887664, name=MerryweatherLost/TerraGov-...",True,2023-09-02 00:04:47,None,2023,09,02
8,31549506650,PushEvent,{avatar_url=https://avatars.githubusercontent....,"{id=345006695, name=GabrielL14/MyFirstTestWebS...",True,2023-09-02 00:04:47,None,2023,09,02
9,31549506654,PushEvent,{avatar_url=https://avatars.githubusercontent....,"{id=531817383, name=makeproaudio/status, url=h...",True,2023-09-02 00:04:47,{avatar_url=https://avatars.githubusercontent....,2023,09,02

In [12]:
pd.read_sql('''
            select count(*) from ghact.parquets where org is null
            ''',conn)

/home/admin123/AWS-Lambda/ga-venv/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

    _col0
0  115992

In [13]:
pd.read_sql(
    ''' 
    select 
        case when org is null  then 'IND'
        ELSE 'ORG' end,
        count(*) as acivity_count
        from ghact.parquets group by case when org is null then 'IND'
        else 'ORG'
        end
        limit 10
        
    ''',conn
)

/home/admin123/AWS-Lambda/ga-venv/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

  _col0  acivity_count
0   ORG          27214
1   IND         115992