In [1]:
import pandas as pd

In [3]:
df = pd.read_json('data/2022-06-05-0.json.gz',lines=True)

In [7]:
df.shape

(89443, 8)

In [9]:
df.columns

Index(['id', 'type', 'actor', 'repo', 'payload', 'public', 'created_at',
       'org'],
      dtype='object')

In [11]:
df.dtypes

id                          int64
type                       object
actor                      object
repo                       object
payload                    object
public                       bool
created_at    datetime64[ns, UTC]
org                        object
dtype: object

In [12]:
df.head()

,id,type,actor,repo,payload,public,created_at,org
0,22164041431,CreateEvent,"{'id': 44050213, 'login': 'collisioncataclysm'...","{'id': 496726861, 'name': 'collisioncataclysm/...",{'ref': 'snyk-upgrade-54c90b4fba783e33846b3123...,True,2022-06-05 00:00:00+00:00,NaN
1,22164041432,PushEvent,"{'id': 92907907, 'login': 'znyt', 'display_log...","{'id': 446902156, 'name': 'znyt/oss111', 'url'...","{'push_id': 10072717837, 'size': 1, 'distinct_...",True,2022-06-05 00:00:00+00:00,NaN
2,22164041434,PushEvent,"{'id': 44050213, 'login': 'collisioncataclysm'...","{'id': 496726861, 'name': 'collisioncataclysm/...","{'push_id': 10072717839, 'size': 1, 'distinct_...",True,2022-06-05 00:00:00+00:00,NaN
3,22164041435,CreateEvent,"{'id': 88858119, 'login': 'danrprado', 'displa...","{'id': 496835873, 'name': 'danrprado/cpanel-ap...","{'ref': 'update-readme', 'ref_type': 'branch',...",True,2022-06-05 00:00:00+00:00,NaN
4,22164041436,PushEvent,"{'id': 69619077, 'login': 'szk302', 'display_l...","{'id': 430227097, 'name': 'szk302/dev-blog-htm...","{'push_id': 10072717843, 'size': 1, 'distinct_...",True,2022-06-05 00:00:00+00:00,NaN

In [13]:
df['org']

0                                                      NaN
1                                                      NaN
2                                                      NaN
3                                                      NaN
4                                                      NaN
                               ...
89438                                                  NaN
89439                                                  NaN
89440    {'id': 6154722, 'login': 'microsoft', 'gravata...
89441    {'id': 6154722, 'login': 'microsoft', 'gravata...
89442    {'id': 6154722, 'login': 'microsoft', 'gravata...
Name: org, Length: 89443, dtype: object